@import url('https://fonts.googleapis.com/css?family=Judson:700|Roboto:100&display=swap');
html, body {
    margin: 0;
}

.container {
    position: absolute;
    left: 0;
    right: 0;
}

.intro-container {
    background: url("../images/chintatown_nyc.jpg") no-repeat center center fixed;
    top: 0;
    bottom: 0;
}

.header-container {
    max-width: 20em;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

.header {
    text-align: center;
    margin-bottom: 0.1em;
    margin-top: 0.1em;

    font-size: 4em;
}

.intro-header-container {
    margin-top: 30vh;
}

.thumbnail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.for-sale-container {
    background: url("../images/ep_naturalwhite.png");
    top: 100%;
    bottom: -100%;
}

.container-divider {
    background: url("../images/lighthouse.jpg") no-repeat center center fixed;
    top: 200%;
    bottom: -230%;
}

.gallery-container {
    background: url("../images/ep_naturalwhite.png");
    top: 230%;
    bottom: -230%;
}

.about-container {
    background: #333;
    top: 330%;
}

.text-container {
    color: white;
    font-size: 20px;
    margin-left: 15vw;
    margin-right: 15vw;
}

.text-end {
    text-align: center;
}

.sculptures-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 80vh;
    overflow: hidden;
}

.sculpture-thumbnail {
    min-width: 100px;
    min-height: 100px;
    width: 260px;
    height: 260px;
    margin: 4px;
    user-select: none;
}

.sculpture-thumbnail:hover {
    opacity: 0.8;
}

.see-all {
    position: relative;
    margin-top: 6px;
    padding: 4px;
    font-family: "Roboto", "sans-serif";
    font-size: 2em;
    text-decoration: none;
    color: black;
}

.see-all:hover {
    border: 1px solid black;
}

.spinner-container {
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 8px solid #adadad;
    border-top: 8px solid #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media only screen and (max-width: 775px) {
    .header {
        font-size: 3em;
    }

    .text-container {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .intro-container {
        background: url("../images/chintatown_nyc_small.jpg") no-repeat center center fixed;
    }

    .container-divider {
        background: url("../images/lighthouse_small.jpg") no-repeat center center fixed;
    }
}