@import url('https://fonts.googleapis.com/css?family=Judson:700|Roboto:100&display=swap');
html, body {
    margin: 0;
}

.container {
    position: absolute;
    left: 0;
    right: 0;
}

.intro-container {
    background: url("../images/chintatown_nyc.jpg") no-repeat center center fixed;
    background-size: cover;
    top: 0;
    bottom: 0;
}

.header-container {
    max-width: 20em;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

.header {
    text-align: center;
    margin-bottom: 0.1em;
    margin-top: 0.1em;

    font-size: 4em;
}

.intro-header-container {
    margin-top: 30vh;
}

.for-sale-container {
    background: url("../images/ep_naturalwhite.png");
    top: 100vh;
    bottom: -100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-container {
    background: url("../images/lighthouse.jpg") no-repeat center center fixed;
    background-size: cover;
    top: 200vh;
    bottom: -200vh;
}

.about-container {
    background: #333;
    top: 300vh;
    bottom: -250vh;
}

.about-text-container {
    color: white;
    margin-left: 25vw;
    margin-right: 25vw;
}

.sculptures-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 80vh;
    overflow: hidden;
}

.sculpture-thumbnail {
    min-width: 100px;
    min-height: 100px;
    width: 240px;
    height: 240px;
    margin: 4px;
    background: #000;
}

.see-all {
    margin-top: 2vw;
    font-family: "Roboto", "sans-serif";
    font-size: 2em;
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 775px) {
    .header {
        font-size: 3em;
    }
    
    .about-container {
        bottom: -300vh;
    }

    .about-text-container {
        margin-left: 15vw;
        margin-right: 15vw;
    }
}