.sculpture-page-container {
    height: 100vh;
    display: flex;
    background: url("../images/ep_naturalwhite.png");
}

.sculpture-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-container {
    margin-top: 12px;
    min-height: 75vh;
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousal-controls-container {
    display: flex;
    justify-content: space-between;
    font-size: 3em;
}

.carousal-control {
    cursor: pointer;
    user-select: none;
}

.carousal-control:hover {
    opacity: 0.8;
}

.sculpture-photo {
    max-width: 70vw;
    max-height: 70vh;
}

.sculpture-text-container {
    padding-top: 16px;
}

.sculpture-body-text-container {
    padding-left: 8px;
    font-size: 20px;
}

@media only screen and (max-width: 775px) {
    .sculpture-page-container {
        height: 135vh;
    }

    .sculpture-text-container {
        margin-top: 20px;
    }
}

@media only screen and (max-height: 412px) {
    .sculpture-page-container {
        height: 168vh;
    }
}